* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    width: 100vw;
}

main {
    min-height: 80vh;
    margin: 3% 12%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.main-title {
    font-size: 1.8rem;
    margin: 1rem auto;

}

input {

    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.input-todo {
    width: 54%;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.btn-add-todo {
    background: hsl(84, 100%, 69%);
    color: #fff;
    border: none;
    outline: none;
    margin-left: -1rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    cursor: pointer;
}

.btn-add-todo:hover {
    background: hsl(84, 100%, 59%);
}

.todo--task-lists {
    margin: 8%;
}

.todo-list-item {
    background: rgba(0, 0, 0, 0.22);
    padding: 0.8rem 1.6rem;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.todo-list-item:hover {
    background: rgba(0, 0, 0, 0.26);
}

.action-icons {
    cursor: pointer;

}

.del--icon {
    color: rgb(194, 48, 48);

    margin-left: 0.8rem;
}


.edit--icon {
    color: green;
    font-size: 1rem;
}

/* 
.todo--edit-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.todo--edit-container {
    background: orange;
    border-radius: 0.4rem;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.todo--edit-title {
    margin: 1rem 0
}

.todo--edit-input {
    width: 70%;
}

.button {
    margin: 1rem 0;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.sucess-btn {
    background: hsl(84, 100%, 59%);
}

.sucess-btn:hover {
    background-color: hsl(84, 100%, 49%);
}

.danger-btn {
    background: rgba(194, 48, 48, 0.7);
}

.danger-btn:hover {
    background: rgba(194, 48, 48, 0.9);
} */